/* Fondo general para modo claro */
.app-light {
  background-color: #f8f9fa;
  color: #212529;
}

/* Fondo general para modo oscuro */
.app-dark {
  background-color: #121212;
  color: #f1f1f1;
}

/* Espaciado entre secciones */
section {
  padding: 80px 0;
  display: block;      /* <- ya no flex global */
  min-height: auto;    /* <- chau 80vh */
}
/* Títulos generales */
section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 2rem;
}

.hero-section {
  min-height: calc(100svh - 70px);
}
